{% extends 'base.html.twig' %}
{% block title %} ContactsApp {% endblock %} 
{% block body %} 
<div style='text-align:center;'> 
<h1 class="centered">Library App</h1> 
<p class="centered">Welcome to my library App</p>
<p class="centered">Try to search a <a href="/book"> book</a> by its isbn</p>
<p class="centered">Or you can search <a href="/publisher"> publisher</a> by its ID</p>
<p class="centered"><a href="test/publisher/">Test</a></p>
</div>
 {% endblock %}